<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.linfeng.mcweb.mapper.MPDBInventoryMapper">

    <resultMap id="selectInventoryByUserUuidMap" type="inventory">
        <id property="id" column="id"/>
        <result property="uuid" column="player_uuid"/>
        <result property="name" column="player_name"/>
        <result property="hotbarSlot" column="hotbar_slot"/>
        <result property="gamemode" column="gamemode"/>
        <result property="syncComplete" column="sync_complete"/>
        <result property="lastSeen" column="last_seen"/>
    </resultMap>
    <select id="selectInventoryByUserUuid" resultType="vip.linfeng.mcweb.pojo.mpdb.Inventory">
        select
            id,
            player_uuid,
            player_name,
            inventory,
            armor,
            hotbar_slot,
            gamemode,
            sync_complete,
            last_seen
        from
            mpdb_inventory
        where
            player_uuid = #{param1}
    </select>
</mapper>
